

.navbar {
    border: 2px solid var(--border-color);
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 9999px;

    /* hover: {
        color: var(--hover-color) !important;
        background-color: var(--hover-background-color) !important;
        border-color: var(--hover-border-color) !important;
    }

    active: {
        color: var(--active-color) !important;
        background-color: var(--active-background-color) !important;
        border-color: var(--active-border-color) !important;
    }

    passive: {
        color: var(--disabled-color) !important;
        background-color: var(--disabled-background-color) !important;
        border-color: var(--disabled-border-color) !important;
    } */
}

.image {
    padding: 15%;
    background: linear-gradient(to right, #ddf1ff, #cdd3ec);
    border-radius: 5px;
    border: 2px solid var(--border-color);
    display: inline-grid;
}

.header {
    background: rgb(174, 227, 238);
    background: linear-gradient(to right, #ddf1ff, #cdd3ec);
}

.main {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
}

.leadline {
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

.footer {
    margin-top: 4rem;
    background: rgb(174, 227, 238);
    background: linear-gradient(to right, #ddf1ff, #cdd3ec);
    position: relative;
    bottom: 0;
}


.box {
    border: 1px solid white;
    background-color:#e6ecf4;
    border-radius: 0.5rem;
    height: 200px;
    display: flex;
    justify-content: end;
    position: relative;
}

.tall-box {
    height: 410px;
}
.minibox {
    border: 1px solid var(--border-color);
}